<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passcode</title>
</head>
<body>
    <div>
        <form action = "/join-club" method = "POST">
            <label for = "passcode">Passcode:</label>
            <input type = "password" id = "passcode" name = "passcode">
            <input type="submit" value="Log In">           
        </form>
    </div>
</body>
</html>